.navbar-brand{
        font-size:3em;
      }
#topContainer {
  background-color: whitesmoke;
  width:100%;
  background-size:cover;
}

#topRow {
  margin-top:100px;
  text-align:center;
}
#topRow h1{
  font-size:300%
}
.bold{
  font-weight: bold;
}
.marginTop{
  margin-top:30px;
}
.center{
  text-align: center;
}
.title{
  margin-top:30px;
  font-size:300%;
}
.marginBottom{
  margin-bottom:50px;
}
#footer{
  background-color:#262625;
  padding-top:70px;
  width:100%;
}
.appstoreImage{
  width:300px;
  margin-top:50px;
}
.whiteText{
  color:white;
}
.divBox {
    height: auto;
    width: auto;
/*    background-color: grey;*/
/*    border-radius: 5px;*/
    border-bottom: solid black 1px;
/*    display: inline-block;*/
    vertical-align: top;
/*    margin-bottom: 5px;*/
    
}
.divBox:nth-child(odd) {
    background-color: #7F8C8D;
    
}.divBox:nth-child(even) {
    background-color: #9EADAE;
}
.floatRight {
    float: right;
}
#bgColor {
    background-color: #34495E;
}
.titleText{
    color: black;
}
#footerCon {
    width: 100%;
    background-color: #13c7b9;
    height: 50px;
}
.footerText {
    padding-top: 10px;
}
#leftFooter {
    width: 25%;
    display: inline-block;
    float: left;
    vertical-align: top;
    padding-left: 7.5%;
}

#rightFooter {
    width: 40%;
    display: inline-block;
    float: right;
    height: 10px;
    text-align: right;
    vertical-align: top;
    padding-right: 10%;
}
.socialLogo {
    width: 25px;
    height: auto; 
    padding-top: 12px;
}

.postForm {
    max-height: 300px;
    overflow: hidden;
    width: 100%;
    transition: all 1s;
}

.postHidden {
    max-height: 0px;
    overflow: hidden;
    width: 100%;
    transition: all 1s;
}

#gamertagWidth {
    width: 99%;
}
.postDiv{
    display: inline-block;
}
#sameLine {
    display: inline-block;
    width: 30%;
    margin-left: 5px;
}.sameLine {
    display: inline-block;
    width: auto;
    margin-left: 5px;
}
#eminem {
    width: 100%;
    overflow-y: hidden;
}
#headerImage {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    /*background-image:url("../images/header.jpg");
    background-size: 100%;
    background-repeat:no-repeat;
    height: 800px;*/
}